{% extends "base.html" %}

{% block content %}

<style>
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    .blink {
        animation: blink 0.5s infinite;
    }

    body {
        background-color: #f4f4f4;
        font-family: 'Arial', sans-serif;
    }

    /* Define o estilo do container principal */
    .container {
        width: 80%;
        margin: auto;
        background: #fff;
        padding: 30px;
        box-shadow: 0px 0px 10px 0px #000;
    }

    /* Define o estilo da imagem */
    img {
        display: block;
        margin: auto;
        width: 25%; /* Torna a imagem responsiva */
    }

    /* Define o estilo da tabela e seus elementos */
    .players-table {
        width: 100%;
        border-collapse: collapse;
    }

    .players-table th, .players-table td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    .players-table th {
        background-color: #4CAF50;
        color: white;
    }

    .players-table tr:hover {
        background-color: #f1f1f1;
    }

    /* Define o estilo dos botões */
    button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    .adjust-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button:hover {
        background-color: #45a049;
    }

    /* Define o estilo dos links */
    .styled-link {
        text-decoration: none;
        color: #4CAF50;
        font-size: 16px;
        margin: 10px;
    }

    .styled-link:hover {
        text-decoration: underline;
    }

    /* Define o estilo do botão de logout */
    .logout-button {
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    .logout-button:hover {
        background-color: #da190b;
    }

    .scrollable-table{
        overflow-x: auto;
    }

    .players-table td:first-child form button {
        background-color: transparent; /* Remove a cor de fundo */
        color: inherit; /* Usa a cor de texto padrão */
        border: none; /* Remove a borda */
        padding: 0; /* Remove o padding */
        font-size: inherit; /* Usa o tamanho de fonte padrão */
        cursor: pointer; /* Mantém o cursor como ponteiro */
        text-decoration: underline; /* Adiciona sublinhado */
        border-radius: 0; /* Remove o arredondamento */
        display: inline; /* Mantém o botão inline */
    }

    .players-table td:first-child {
        text-align: center;
        vertical-align: middle;
    }
    
    .players-table td:first-child form button:hover {
        background-color: transparent; /* Remove a cor de fundo ao passar o mouse */
        color: inherit; /* Mantém a cor de texto ao passar o mouse */
    }

    .podium {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-right: 25%;
        padding-left: 25%;
    }

    .place {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: black;
        font-size: 1rem;
    }

    .first {
        height: 8rem;
        background-color: #FFD700; /* Ouro */
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.4);
    }

    .second {
        height: 6rem;
        background-color: #C0C0C0; /* Prata */
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }

    .third {
        height: 5rem;
        background-color: #CD7F32; /* Bronze */
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    .top-podios{
        display: flex;
        align-items: center;
    }

    .second-div, .first-div, .third-div {
        max-width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centraliza horizontalmente */
        text-align: center; /* Centraliza o texto */
    }

    .img-top {
        width: 100%; 
        height: auto; 
        margin: 0 !important; 
        border-radius: 50%; 
    }

    .top-bd, top-br{
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container">
    <div class="top-podios">
        <div class="top-bd">
            <h1 style="text-align: center">Top Buchos Dados do Mês</h1>
            <div class="podium">
                {% if top_buchos_dados[1] %}
                <div class="second-div">
                    {% if top_buchos_dados[1].image_filename %}
                        <img class="img-top" src="{{ url_for('static', filename='uploads/' + top_buchos_dados[1].image_filename) }}" alt="Imagem de {{ top_buchos_dados[1].name }}" width="150">
                        {% else %}
                        {{ top_buchos_recebidos[1].name }}
                    {% endif %}                 
                    <div class="place second">2º Lugar</div>
                    <p>{{ top_buchos_dados[1].buchos_dados }} buchos</p>
                </div>
                {% endif %}  
                {% if top_buchos_dados[0] %}
                <div class="first-div">
                    {% if top_buchos_dados[0].image_filename %}
                        <img class="img-top" src="{{ url_for('static', filename='uploads/' + top_buchos_dados[0].image_filename) }}" alt="Imagem de {{ top_buchos_dados[0].name }}" width="150">
                        {% else %}
                        {{ top_buchos_recebidos[0].name }}
                    {% endif %}                 
                    <div class="place first">1º Lugar</div>
                    <p>{{ top_buchos_dados[0].buchos_dados }} buchos</p>
                </div>
                {% endif %}  
                {% if top_buchos_dados[2] %}
                <div class="third-div">
                    {% if top_buchos_dados[2].image_filename %}
                        <img class="img-top" src="{{ url_for('static', filename='uploads/' + top_buchos_dados[2].image_filename) }}" alt="Imagem de {{ top_buchos_dados[2].name }}" width="150">
                        {% else %}
                        {{ top_buchos_recebidos[2].name }}
                    {% endif %}                 
                    <div class="place third">3º Lugar</div>
                    <p>{{ top_buchos_dados[2].buchos_dados }} buchos</p>
                </div>
                {% endif %}  
            </div>
        </div>
        <img src="{{ url_for('static', filename='Reinado_dos_Buchos.png') }}" alt="Imagem de peças de dominó" width="10rem">
        <div class="top-br">
            <h1 style="text-align: center">Top Buchos Recebidos do Mês</h1>
            <div class="podium">
                {% if top_buchos_recebidos[1] %}
                <div class="second-div">
                    {% if top_buchos_recebidos[1].image_filename %}
                        <img class="img-top" src="{{ url_for('static', filename='uploads/' + top_buchos_recebidos[1].image_filename) }}" alt="Imagem de {{ top_buchos_recebidos[1].name }}" width="150">
                        {% else %}
                        {{ top_buchos_recebidos[1].name }}
                    {% endif %}                 
                    <div class="place second">2º Lugar</div>
                    <p>{{ top_buchos_recebidos[1].buchos_recebidos }} buchos</p>
                </div>
                {% endif %}  
                {% if top_buchos_recebidos[0] %}
                <div class="first-div">
                    {% if top_buchos_recebidos[0].image_filename %}
                        <img class="img-top" src="{{ url_for('static', filename='uploads/' + top_buchos_recebidos[0].image_filename) }}" alt="Imagem de {{ top_buchos_recebidos[0].name }}" width="150">
                        {% else %}
                        {{ top_buchos_recebidos[0].name }}
                    {% endif %}                 
                    <div class="place first">1º Lugar</div>
                    <p>{{ top_buchos_recebidos[0].buchos_recebidos }} buchos</p>
                </div>
                {% endif %} 
                {% if top_buchos_recebidos[2] %}
                <div class="third-div">
                    {% if top_buchos_recebidos[2].image_filename %}
                        <img class="img-top" src="{{ url_for('static', filename='uploads/' + top_buchos_recebidos[2].image_filename) }}" alt="Imagem de {{ top_buchos_recebidos[2].name }}" width="150">
                        {% else %}
                        {{ top_buchos_recebidos[2].name }}
                    {% endif %}                 
                    <div class="place third">3º Lugar</div>
                    <p>{{ top_buchos_recebidos[2].buchos_recebidos }} buchos</p>
                </div>
                {% endif %} 
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated %}
        <div class="adjust-media"> 
            <a class="styled-link" href="{{ url_for('registrar_jogador') }}">Registrar</a>
            <a class="styled-link" href="{{ url_for('chart') }}">Estatísticas</a>
            <a class="styled-link" href="{{ url_for('relatorio_anos') }}">Relatório</a>
            <a class="styled-link" href="{{ url_for('view_game_days') }}">Dias de Jogo</a>
            <a class="styled-link" href="{{ url_for('tabela_buchos') }}">Visualização Detalhada dos Buchos</a>
        </div>
    {% else %}
        <div class="adjust-media"> 
            <a class="styled-link" href="{{ url_for('chart') }}">Estatísticas do mês</a>
            <a class="styled-link" href="{{ url_for('view_game_days') }}">Dias de Jogo</a>
            <a class="styled-link" href="{{ url_for('relatorio_anos') }}">Relatório</a>
            <a class="styled-link" href="{{ url_for('login') }}">Login</a>
            <a class="styled-link" href="{{ url_for('tabela_buchos') }}">Visualização Detalhada dos Buchos</a>
        </div>
    {% endif %}
    <div id="accordion">
        <h2>Jogadores Registrados:</h2>
        <div class="scrollable-table">
            <table class="players-table">
                <thead>
                    <tr>
                        <th class="name-column">
                            Nome 
                        </th>
                        <th>
                            Pontos
                        </th>
                        <th>
                            Frequência
                        </th>
                        <th class="buchos-dados">
                            Buchos Dados 
                        </th>
                        <th class="buchos-recebidos">
                            Buchos Recebidos
                        </th>
                        <th>
                            Rei dos Buchos
                        </th>
                        <th>
                            Buchudo do Mês
                        </th>
                        {% if current_user.is_authenticated %}
                            <th>Ações</th>
                        {% endif %}
                    </tr>
                </thead>        
                <tbody>
                    {% if players %}
                        {% for player in players %}
                        <tr>
                            <td>   
                                {% if player.image_filename %}
                                    <img src="{{ url_for('static', filename='uploads/' + player.image_filename) }}" alt="Imagem de {{ player.name }}" width="150">
                                {% endif %}                 
                                <form method="get" action="{{ url_for('view_player', player_id=player.id) }}" style="display: inline;">
                                    <button type="submit">{{ player.name }}</button>
                                </form>
                            </td>
                            <td>{{ player.points }}</td>
                            <td>{{ player.frequencia_dias }}</td>
                            <td>{{ player.buchos_dados }}</td>
                            <td>{{ player.buchos_recebidos }}</td>
                            {% if player.frequencia_dias > 0 %} 
                                <td>{{ (player.buchos_dados / player.frequencia_dias)|round(2) }}</td> <!-- Rei dos Buchos -->
                                <td>{{ (player.buchos_recebidos / player.frequencia_dias)|round(2) }}</td> <!-- Buchudo do Mês -->
                            {% else %}
                                <td>0</td> <!-- Rei dos Buchos -->
                                <td>0</td> <!-- Buchudo do Mês -->
                            {% endif %}

                            {% if current_user.is_authenticated %}
                                <td>
                                    <div class="action-buttons">
                                        <form method="post" action="{{ url_for('edit_player', player_id=player.id) }}">
                                            <button type="submit">Editar</button>
                                        </form>
                                        <form method="post" action="{{ url_for('delete_player', player_id=player.id) }}">
                                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</button>
                                        </form>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    {% if current_user.is_authenticated %}
        <div class="adjust-media" style="padding-top: 2%;display: flex; justify-content: end; flex-wrap: wrap;"> 
            <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
        </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            $("#accordion").accordion({
                collapsible: true,
                active: false
             });

            $('.players-table').tablesorter({
                sortList: [[0,0]],
                headers: {
                    0: { sorter: 'text' } 
                }
            });

            $('.players-table th').click(function() {
                $(this).addClass('blink');
                setTimeout(() => {
                    $(this).removeClass('blink'); 
                }, 200);
            });
        });
    </script>
</div>
{% endblock %}