{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }
    .container {
        width: 100%;
        max-width: 400px;
        padding: 30px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        margin: 20px;
    }
    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
        transition: border 0.3s ease;
    }
    input:focus {
        border: 1px solid #4CAF50;
        outline: none;
    }
    label {
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
    }
    button {
        padding: 15px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #45a049;
    }

    .input-form input {
        width: 375px;
        border: 1px solid #ccc;
    }

    a {
        text-decoration: none;
        color: #4caf50;
    }

    a:hover {
        opacity: 0.65;
    }

    .flash-error, .success {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .flash-error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    .success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    @media screen and (max-width: 768px) {
        .container {
            margin: 10px;
            padding: 20px;
        }

        .input-form input {
            width: 310px;
        }
    }
</style>

<div class="container">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        {% if mensagem_erro %}
            <div class="flash-error">{{ mensagem_erro }}</div>
        {% endif %}
        <div class="input-form">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </div>
        <div class="input-form">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div style="display: flex; justify-content: center">
            <button type="submit">Login</button>
        </div>
        <div style="display: flex; justify-content: space-between; padding-top: 10px;">
            <a style="align-self: center;" href="{{ url_for('home') }}">Home</a>
        </div>
    </form>
</div>
{% endblock %}
