{% extends "base.html" %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.6;
    }

    form {
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #ffffff;
        max-width: 400px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h3 {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    h4 {
        margin-top: 20px;
        text-align: center;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: #666;
    }

    select, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #5cb85c;
        color: white;
        font-weight: bold;
    }

    button:hover {
        background-color: #4cae4c;
    }

    table {
        width: 90%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f9f9f9;
    }
</style>

<h3>RELATÓRIO</h3>
<form action="{{ url_for('relatorio_anos') }}" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.de.label(class="de-label") }}
        {{ form.de(class="de-select") }} 
    </div>
    <div>
        {{ form.ate.label(class="ate-label") }} 
        {{ form.ate(class="ate-select") }} 
    </div>
    <div>
        <label for="ordenacao">Ordenar por:</label>
        <select name="ordenacao" id="ordenacao">
            <option value="buchos_dados">Buchos Dados</option>
            <option value="buchos_recebidos">Buchos Recebidos</option>
        </select>
        <button type="submit">Buscar</button> 
    </div>
</form>


{% if player_stats %}
<h4>Estatísticas dos Jogadores</h4>
<table>
    <thead>
        <tr>
            <th>Nome do Jogador</th>
            <th>Buchos Dados</th>
            <th>Buchos Recebidos</th>
            <th>Frequência</th>
        </tr>
    </thead>
    <tbody>
        {% for player_id, stats in player_stats.items() %}
        <tr>
            <td>{{ stats.name }}</td>
            <td>{{ stats.buchos_dados }}</td>
            <td>{{ stats.buchos_recebidos }}</td>
            <td>{{ stats.frequencia }} dia(s)</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p style="text-align: center;">Nenhum dado para exibir. Por favor, selecione um intervalo de datas e clique em Buscar.</p>
{% endif %}
<div style="margin-top: 20px; display: flex; justify-content: center;">
    <a href="{{ url_for('home') }}" style="padding: 10px 20px; background-color: #5cb85c; color: white; font-weight: bold; text-decoration: none; border-radius: 5px; display: inline-block;">
        Voltar
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    {% if ate_select == 0 %}
        $('.ate-select').prop('disabled', true);
        $('.de-select option[value=""]').prop('disabled', true);
    {% endif %}

});

$('#relatorioForm').submit(function(event){

    var mesInicio = $('#de-select').val();
    var mesFim = $('#ate-select').val();
    event.preventDefault();  

});

$('.de-select').change(function(){
        var selectedDe = $(this).val();
        $('.ate-select').val(selectedDe);
        $('.ate-select').prop('disabled', false).find('option').each(function(){
            if(selectedDe != '' && $(this).val() != ''){ 
                var opcaoAte = $(this).val();
                var mesAte = parseInt(opcaoAte.split('/')[0]);
                var anoAte = parseInt(opcaoAte.split('/')[1]);
                var mesDe = parseInt(selectedDe.split('/')[0]); 
                var anoDe = parseInt(selectedDe.split('/')[1]); 
                console.log('mesDe: ' + mesDe);
                console.log('anoDe: ' + anoDe);
                console.log('mesAte: ' + mesAte);
                console.log('anoAte: ' + anoAte);
                if((anoDe > anoAte) || (anoDe == anoAte && mesDe > mesAte)){
                    $(this).prop('disabled', true);
                } else {
                    $(this).prop('disabled', false);
                }
            }
        });
        $('.ate-select option[value=""]').prop('disabled', true);
    });

</script>
{% endblock %}



